<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.4/jspdf.plugin.autotable.min.js"></script>



    {{!-- ----- --}}

    <script src="https://unpkg.com/pdf-lib"></script>
    <script>
        function getPDF() {
            var doc = new jsPDF();
            source = $('#content')[0];
            console.log(source)
            // We'll make our own renderer to skip this editor
            var specialElementHandlers = {
                '#getPDF': function (element, renderer) {
                    return true;
                },
                '.controls': function (element, renderer) {
                    return true;
                }
            };

            // All units are in the set measurement for the document
            // This can be changed to "pt" (points), "mm" (Default), "cm", "in"
            doc.fromHTML($('.content').get(0), 15, 15, {
                'width': 170,
                'elementHandlers': specialElementHandlers
            });


            doc.save('Generated.pdf');
        }
    </script>


    <script>
        function getPDF2() {
            var doc = new jsPDF();
            source = $('#info')[0];
            // Source HTMLElement or a string containing HTML.
            specialElementHandlers = {
                '#editor': function (element, renderer) {
                    return true
                }
            };
            let pdfjs = document.querySelector('#content');


            doc.fromHTML(
                pdfjs,
                15,
                15,
                {
                    'width': 170,
                    'elementHandlers': specialElementHandlers
                }
            );
            doc.co
            setTimeout(function () {
                doc.save(`fileName.pdf`);
            }, 0);
            // doc.save('sample-file.pdf') 
        }
    </script>

    <script>
        function getPDF3() {
            var doc = new jsPDF();

            var elementHTML = document.querySelector("#info");
            const emblemUrl = 'https://pdf-lib.js.org/assets/mario_emblem.png'
            var im = fetch(emblemUrl).then(res => res.arrayBuffer())
            console.log(im)
            doc.fromHTML(elementHTML, {
                callback: function (doc) {
                    console.log(doc)
                    // Save the PDF
                    doc.save('sample-document.pdf');
                },
                x: 15,
                y: 15,
                width: 170, //target width in the PDF document
                windowWidth: 650 //window width in CSS pixels
            });
        }


    </script>

    <script>
        createPdf();
        async function createPdf() {
            const pdfDoc = await PDFLib.PDFDocument.create();
            const page = pdfDoc.addPage([400, 500]);
            page.moveTo(100, 250);
            page.drawText('Example Generating PDF with PDF-lib', {
                size: 12
            });
            const pdfDataUri = await pdfDoc.saveAsBase64({ dataUri: true });
            document.getElementById('pdf').src = pdfDataUri;
        }
        Handlebars.registerPartial('myPartial', '{{recomendaciones}}');
    </script>

</head>

<body>
    {{!-- <button id="getPDF" onclick="getPDF3()">Download PDF</button> --}}

    <div id="content" class="zima" class="card">
        <div class="card-body">
            <div>
                <div style="text-align: center;">


                    <div style="width: 100%;"
                        class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded shadow-sm row">

                        <div class="row">
                            <div class="col-1">
                                <img class="me-3" src="https://imgrevision.s3.amazonaws.com/img/palace.png" alt=""
                                    width="223" height="80">

                            </div>
                            <div class="col-11" style="text-align: center; padding: 2%;">
                                <div class="lh-1">
                                    <h1 class="h4 mb-0 text-black lh-1">CORPORATIVO MANTENIMIENTO COCINAS
                                    </h1>
                                    <br>
                                    <small>REVISIÓN DE EQUIPOS</small>
                                </div>
                            </div>

                        </div>
                    </div>
                    <h1 id="converted" style="display: none;">{{fechaRegistro}}</h1>

                    {{#each hoteles}}
                    <section style="text-align: center !important;">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            HOTEL</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{nombre}}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            FECHA</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">


                                            <a id="asda"></a>

                                            <!-- <h1 id="ido"></h1> -->
                                            <!-- 
                                            <input name="inputDate" type="text" value="2023-07-25 15:13:13">
                                            <input type="date" id="theDate" value="2023-07-25 15:13:13"> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>


                    {{/each}}



                    {{#each observaciones}}

                    <!-- informacion equipo_ -->
                    <div style="text-align: center !important;">

                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="row"
                                    class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded shadow-sm row">
                                    <div class="col">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            ITEM</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{#if identificador}}
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                {{identificador}}
                                            </div>
                                            {{else}}
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                S/I
                                            </div>
                                            {{/if}}
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            ÁREA</div>
                                        {{#if area}}
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{area}}
                                        </div>
                                        {{else}}
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            S/A
                                        </div>
                                        {{/if}}


                                    </div>

                                    {{#if criticidad}}
                                    <div class="col">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            CRITICIDAD</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{criticidad}}
                                        </div>
                                    </div>
                                    {{/if}}


                                    <div class="col">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            EQUIPO</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{equipo}}
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>

                    </div>
                    <div style="text-align: center !important;">

                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="row"
                                    class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded shadow-sm row">

                                    <div class="col">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            MARCA</div>
                                        {{#if marca}}
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{marca}}
                                        </div>
                                        {{else}}
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            S/M
                                        </div>
                                        {{/if}}
                                    </div>


                                    <div class="col">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            MODELO</div>
                                        {{#if modelo}}
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{modelo}}
                                        </div>
                                        {{else}}
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            S/M
                                        </div>
                                        {{/if}}
                                    </div>


                                    <div class="col">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            NÚMERO DE SERIE</div>
                                        {{#if numeroSerie}}
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{numeroSerie}}
                                        </div>
                                        {{else}}
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            S/S
                                        </div>
                                        {{/if}}
                                    </div>



                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- Observaciones -->
                    <section style="text-align: initial !important;">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Observaciones</h6>
                            </div>

                            {{#if observacion}}
                            <div class="card-body">
                                {{observacion}}
                            </div>
                            {{else}}
                            <div class="card-body">
                                No cuenta con observaciones
                            </div>
                            {{/if}}

                        </div>
                    </section>
                    <!-- recomendaciones -->
                    <section style="text-align: initial !important;">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Recomendaciones</h6>
                            </div>
                            {{#if comentarios}}
                            {{#each comentarios}}
                            <div class="card-body">
                                <h6 class="card-title">{{comentario}}</h6>
                                <h7 id="converted2" class="card-subtitle mb-2 text-muted">{{dateString}}</h7>
                            </div>
                            {{/each}}
                            {{else}}
                            <div class="card-body">
                                No cuenta con recomendaciones
                            </div>
                            {{/if}}


                        </div>
                    </section>

                    <!-- imagenes -->
                    <section style="text-align: initial !important;">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Evidencia Fotográfica</h6>
                            </div>
                            <div class="card-body row">


                                {{#if imagenes}}
                                {{#each imagenes}}
                                <div class="col">
                                    <img style="height: auto; width: auto; max-width: 300px; max-height: 300px;"
                                        src="{{url}}" alt="img" />
                                </div>
                                {{/each}}
                                {{else}}
                                <div class="card-body">
                                    No cuenta evidencia con fotográfica
                                </div>
                                {{/if}}



                            </div>
                        </div>
                    </section>



                </div>
                {{!-- <div id="footer"></div>
                {{#each firmas}}
                <h1>da</h1>
                {{/each}} --}}
                {{!-- {{ myPartial }} --}}
                <div style="page-break-before: always;"></div>

                {{/each}}


                <section>

                    <!-- Recomendaciones -->
                    <section style="text-align: initial !important;">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Comentario de Gerencia</h6>
                            </div>
                            {{#if recomendaciones}}
                            <div class="card-body">
                                {{recomendaciones}}
                            </div>
                            {{else}}
                            <div class="card-body">
                                No tiene comentarios
                            </div>
                            {{/if}}

                        </div>
                    </section>


                    {{!-- /////// --}}

                    {{!-- <div class="container" id="firmas">
                        <div class="row">
                            {{#each firmas}}
                            <div class="col-sm">
                                <div class="card-body" style="text-align: center;">
                                    <div class=" no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div style="FONT-SIZE: 13px;"
                                                class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                {{tipo}}</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                {{nombreFirma}}
                                                <img style="  object-fit: cover;
                                                        width:80%;
                                                        height:100%;" src="{{url}}" alt="">

                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div> --}}

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Firmas</h6>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                {{#each firmas}}
                                <div class="col" style="text-align: center;">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class=" no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div style="FONT-SIZE: 13px;"
                                                        class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                        {{tipo}}</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                        {{nombreFirma}}
                                                        <img style="  object-fit: cover;
                                                        width:100%;
                                                        height:100%;" src="{{url}}" alt="">

                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}

                            </div>

                        </div>
                    </div>



                </section>


            </div>
        </div>
    </div>
    </div>
    <script>

        var datos = document.getElementById("converted").innerHTML
        document.getElementById("asda").innerHTML = datos
        var date = new Date(datos);
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;
        var today = year + "-" + month + "-" + day;
        document.getElementById("asda").innerHTML = today;
        document.getElementById('theDate').value = today;

        Handlebars.registerPartial('myPartial', '{{recomendaciones}}');

    </script>

    <script>

        var datos = document.getElementById("firmas").innerHTML

        document.getElementById("footer").innerHTML = datos
    </script>

</body>

</html>